body {
    padding: 4% 7% 1% 10%;
}

.navbar img{
    background-color: white!important;
    padding: 20px;
    width: auto;
    height: 200px;
}

.logo{
    height: 100px;
    padding-bottom: 10px;
}

.newsletter-button{
    background-color: white;
    border-color: pink;
    padding: 10px;
}

.newsletter-button a{
    color: gray;

}

h1 {
    color: pink;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
    font-weight: bolder;
}

.p {
    font-size: medium;
    text-align: center;
    color: black;
}

h2 {
    color: palevioletred;
    text-align: justify;
    margin: 20px 0 20px 0;
    font-weight: bold;
}



.smoothie-name{
    background-color: white;
    padding: 0;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

button{
    margin-top: 20px!important;
    border-radius: 20px!important;
}

  .p1{
      margin-bottom: 30px;
  }

  .p2{
      margin-top: 50px;
  }

  h3{
    color: pink;
    padding-top: 30px;
    text-transform: uppercase;
  }


.smoothie{
    margin-bottom: 20px;
    font-weight: bold;
}


* {
    box-sizing: content-box;
  }
  body {
    font-family: Verdana, sans-serif;
    margin: 0
  }


  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }

  .newsletter{
      background-color: pink;
  }

  footer{
    margin-top: 100px;
  }